body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .container h2 {
    text-align: center;
    color: white;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 550px;
    margin-left: 10px;
  }

  .form-group button:hover {
    background-color: #45a049;
  }

  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  }